/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Oswald:wght@200..700&display=swap');

/* GLOBAL */

html , body {
    background-color: rgb(248, 237, 235);
}

body {
    font-family: 'Dosis';
}

.logo {
    position: absolute;
    width:5%;
    height:auto;
    right: 50%;
}

.header {
    font-family: 'Dosis';
    background-color: white;
   
}

.header h1 {
    text-decoration: underline;
    text-align: center;
}


.log-in {
    padding:2rem;
}

