.title {
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
    font-size: 6rem;
}

.pack {
    border-radius: 10px;
    justify-content: space-evenly;
    margin:3rem;
  
}

/* .prices {
padding: 3rem;
} */